!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title test
    %link{ href: "/favicon.ico", rel: "icon" }
  %body{ class: 'aaaa' }
    #wrapper
      .container
        .inside
          %h1 TEST
          +include 'mypartial.haml'